*{
    margin: 0;
    padding: 0;

}

body,html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family:  'Agency FB', arial;
}
.container{

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #091C48;
    color: white;

    .header{
            
            background-color: white;
            width: 100%;
            height: 80px;
            text-align: center;
            font-family: 'Agency FB Bold', arial;
            font-size: 2em;
            color: #091C48 ;
        }
    
    .main-content{

            display: flex;
            height: 100%;
            color: white;
        
        .stack-body{
            padding: 40px;
            width: 60%;
            height: 100%;
 
        }
        .stack-methods{
            padding: 80px;
            width: 20%;
            height:100%;
            


        }
    }

}

.input{

    margin: 20px;
    border:20px;
    margin-bottom: 20px;
    width: 8em;
    height: 1.3em;
    color: #091C48;  
    font-family: 'Agency FB', arial ; 
    font-size: 2em;
    border-radius: 10px;
    text-align: center;

}
.button{

    background-color: white;
    margin: 20px;
    margin-bottom: 10px;
    margin-top: 5px;
    border:20px;
    width: 8em;
    height: 1.3em;
    color: #091C48;
    font-family: 'Agency FB', arial ; 
    font-size: 2em;
    border-radius: 20px;
    text-align: center;
}

