*{
    margin: 0;
    padding: 0;

}

body,html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family:  'Agency FB', arial;
}
.container{

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #091C48;
    color: white;

    .header{
            
            background-color: white;
            width: 100%;
            height: 40px;
            text-align: center;
            font-family:  'Agency FB', arial;
            color: #091C48 ;
        }
    
    main.content{
        
            display: flex;
            height: 100%;
            flex-direction: column-reverse;
            color: white;
        
        .satck-methods{


        }
    }

}

